<%-include('./includes/header.ejs')%>


<div class="container">
    <form action="/register" method="post">
    <input type="text" value="" name="email" placeholder="Enter  Email"></input>
    <input type="text" value="" name="password" placeholder="Enter  Password"></input>
    <button>Submit</button>
</form>
</div>


<%-include('./includes/footer.ejs')%>