*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__navigation {
  background-color: rgb(230, 219, 219);
  padding: 20px;
}


.header__navigation ul{
  display : flex;
  align-items: center;
  justify-content: space-evenly;

}

.header__navigation ul li{

  list-style: none;
color :rgb(245, 105, 105);
text-transform: capitalize;

}

form{
  margin:200px auto;
  
}
.MuiPaper-root.MuiPaper-outlined{
box-shadow: #282c34;
background-color: aliceblue;
}

.form__control{
  margin:20px;
  
}